.aboutContainer {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #252525;
}
.aboutHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutHeader h2 {
    color: #ffffff;
    font-family: Alice;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.explain p {
    color: #959595;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    width: 70%;
}
.explain {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sp {
    width: 70%;
    border-top: 2px solid #ffffff; 
    justify-content: center;
}
.line {
    display: flex;
    justify-content: center;

}

@media  screen and (max-width: 770px) {
    .aboutHeader h2 {
        color: #ffffff;
        font-family: Alice;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .explain p {
        color: #959595;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 20px;
        width: 100%;
    }
}

@media  screen and (max-width: 500px) {
    .aboutHeader h2 {
        color: #ffffff;
        font-family: Alice;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .explain p {
        color: #959595;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 20px;
        width: 100%;
    }
    
}

@media  screen and (max-width: 350px) {
    .aboutHeader h2 {
        color: #ffffff;
        font-family: Alice;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}