.serviceContainer {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #252525;
}
.serviceRow {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    flex-wrap: wrap;
}

.servicesHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.servicesHeader h2 {
    color: #ffffff;
    font-family: Alice;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.serviceImg {
    height: 20vh;
    width: 20vh;
}
.serviceCardtitle {
    font-family: Alice;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.serviceCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.servicecolumnCard {
    display: flex;
    text-align: center;
}

.equal-height {
flex-grow: 1;
}

.serviceCardBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.serviceLanguages {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;
}
.serviceLanguages li {
display: flex;
margin: 10px 10px;
justify-content: center;
color: #959595;
}

@media  screen and (max-width: 995px) {
    .serviceImg {
        height: 10vh;
        width: 10vh;
    }

    .serviceCardtitle {
        font-size: 15px !important;
        
    }

    .serviceLanguages li {
        display: flex;
        margin: 10px 10px;
        justify-content: center;
        color: #959595;
        font-size: 12px;
    }

    .serviceCardButton {
        font-size: 12px !important;
    }
    .servicecolumnCard {
        float: left !important;
        width: 50% !important;
        margin-bottom: 20px;
    }

}

@media  screen and (max-width: 770px) {
    .servicesHeader h2 {
        color: #ffffff;
        font-family: Alice;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .servicesHeader  {
        margin-bottom: 0;
    }

    
}

@media  screen and (max-width: 500px) {
    .serviceRow {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .servicecolumnCard {
        width: 100% !important;
        display: flex;
        justify-content: center;

    }
    .serviceContent {
        width: 80% !important;
    }

}



 