.container {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #201F1F;
}

.contentContainer {
    display: flex;
    justify-content: center;

}

.content {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    padding: 20px;
}  

.text {
    width: 50%;
}

.text h1 {
    color: #ffffff;
    font-family: Alice;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text h3 {
    color: #ffffff;
    font-family: Alice;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.span {
    color: #ffffff;
    font-family: Alice;
    font-size: 38px;
}

.text P {
    color: #959595;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
}
.contactList {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;
}
.contactList li {
    font-family: Alice;
}
.homeImage {
    margin: 0;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #201F1F;
    overflow: hidden;
    width: 50%;
}


.sky {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.star {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background: rgb(242, 253, 41);
    background: linear-gradient(90deg, rgba(242, 253, 41, 1) 0%, rgba(251, 147, 35, 1) 81%, rgba(251, 147, 35, 1) 100%);
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}

.planet,
.satellite {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.planet {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}

.satellite {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.planet::before,
.satellite::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.planet::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.satellite::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}




.modalHeader {
    font-family: Alice;
}

@media screen and (max-width: 1400px) {
    .image {
        height: 50vh;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 100%;
    }
    .text h1 {
        font-size: 35px;
    }
    .span {
        font-size: 30px;
    }
    .text h3 {
        font-size: 25px;
    }
    .homeImage {
        height: 50vh;
    }
    .planet {    
        top: 5em;
        left: 5em;
        width: 30em;
        height: 30em;
        animation: orbit 36.5s linear infinite;
    }
    .sky {
        font-size: 6px;
        width: 40em;
        height: 40em;
        position: relative;
    }
    
   
    
   
}

@media screen and (max-width: 995px) {
    .text h1 {
        font-size: 28px;
    }
    .text h3 {
        font-size: 19px;
    }
    .span {
        font-size: 24px;
    }
    .text p {
        font-size: 14px;
    }
    
    .btnContact {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .content {      
        justify-content: space-around;
    }  
}

@media screen and (max-width: 770px) {
    .content {
        padding: 0;
    }
    .text h1 {
        font-size: 20px;
    }
    .span {
        font-size: 16px;
    }
    .text h3 {
        font-size: 14px;
    }
    .text p {
        font-size: 12px;
    }
    .btnContact {
        font-size: 8px;
        margin-bottom: 10px;
    }
    .homeImage {
        height: 40vh;
    }
    .planet {    
        top: 5em;
        left: 5em;
        width: 30em;
        height: 30em;
        animation: orbit 36.5s linear infinite;
    }
    .sky {
        font-size: 5px;
        width: 40em;
        height: 40em;
        position: relative;
    }
    
}

@media screen and (max-width: 550px) {
    .content {
        flex-direction: column;
        text-align: center;
        margin-top: 4%;
        padding: 0;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        width: 100%;
        text-align: center;
    }
    .text p {
        font-size: 12px;
        padding-top: 5px;
    }
    .homeImage {
        order: 1;
    }
    .intro {
        width: 100%;
    }
    .text h1 {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    .text h3 {
        font-size: 14px;
    }

    .homeImage {
        height: 40vh;
        width: 100%;
    }
    .planet {    
        top: 5em;
        left: 5em;
        width: 30em;
        height: 30em;
        animation: orbit 36.5s linear infinite;
    }
    .sky {
        font-size: 5px;
        width: 40em;
        height: 40em;
        position: relative;
    }
    .text h1 {
        font-size: 22px
    }
    .span {
        font-size: 17px;
    }
}