nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    z-index: 1;   
}
.logo {
  width: 30px;
  cursor: pointer;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
  color: #ffffff;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: text-decoration 0.3s;
  cursor: pointer;
}
nav ul li a:hover::after {
  width: 100%;
}
nav li a:hover {
  color: #ff5c11 !important;
  text-decoration: underline;
}
.btnContact {
  display: flex;
  align-items: center;
  padding: 12px 21px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background: #3B5CFF;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}